# environment
.DS_Store
.idea
.env/
.env-*/
env/
env-*/
.Hasal

#local file
agent_status/
resource/
upload/
test.suite
output
snapshot
result.json
_virtualenv
*~
.vagrant
.ssh
*.log
HasalServer.log.*
stage/*
docs/*
appveyor.yml
! thirdParty/userChrome.css
! thirdParty/extensions
! thirdParty/obsConfigs
! thirdParty/ipynbTemplates

# File types to ignore
*.zip
*.diff
*.flow
*.bak
*.txt
! requirements.txt
! requirements_mac.txt

# 3rd party files
thirdParty/*
# creds files
client_secrets.json
mycreds.txt
client_secret_mozhasalvideo.json
mozhasalvideo.yaml
mycreds_mozhasalvideo.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.ropeproject

