$var pre_jsfiles:
$var post_jsfiles: static/js/strapdown/0.2/strapdown.js
$var title: Hasal Server README

<xmp theme="spacelab">
# Hasal Server
You can setup the test times by editing the file `~/.hasal_server/config.json`. The content example:
```json
{"test_times": 5}
```

## Test
### Start server
You can press `Ctrl + C` to stop the server. The server's result will dump to `~/.hasal_server/dump.json`.
```bash
$$ python server.py 1234
```

### REST API
There are two major API:

1. `hasal/{os}/{target}/{test}` for uploading Hasal result.

2. `video_profile/{os}/{target}/{test}` for uploading video or profile link path.

### Group 1
PC 1
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "fx", "version": "0.0.1", "platform": "x86_64", "value": 501, "video": "20160701_fx001.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 2
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "fx", "version": "0.0.1", "platform": "x86_64", "value": 505, "video": "20160701_fx002.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 3
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "fx", "version": "0.0.1", "platform": "x86_64", "value": 502, "video": "20160701_fx003.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 4
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "fx", "version": "0.0.1", "platform": "x86_64", "value": 503, "video": "20160701_fx004.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 5
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "fx", "version": "0.0.1", "platform": "x86_64", "value": 504, "video": "20160701_fx005.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```

### Group 2
PC 1
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "platform": "x86_64", "value": 508, "video": "20160701_ch001.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 2
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "platform": "x86_64", "value": 505, "video": "20160701_ch002.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 3
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "platform": "x86_64", "value": 507, "video": "20160701_ch003.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 4
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "platform": "x86_64", "value": 506, "video": "20160701_ch004.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```
PC 5
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "platform": "x86_64", "value": 508, "video": "20160701_ch005.avi", "comment": "first test"}' http://localhost:1234/hasal/mac/fx/test_foo
```

## Update Video and Profile
```bash
$$ curl --data 'json={"os": "mac", "target": "fx", "test": "test_foo", "browser": "ch", "version": "0.0.99", "comment": "first test", "video_path": "http://video/path", "profile_path": "http://profile/path"}' http://localhost:1234/video_profile/mac/fx/test_foo
```

## Check Result
Open `http://localhost:1234/hasal/mac/fx/test_foo` to check the result of os `mac`, target `fx`, and test `test_foo`.

## Reset Test Data
Open `http://localhost:1234/reset/` to reset test data.
</xmp>