mach == 0.6.0

# For docs
epydoc == 3.0.1

# For Python linting
flake8 == 2.4.1
pep8 == 1.5.7
pyflakes == 0.8.1

# For JSON schema
jsonschema==2.6.0

-e python/tidy

# For commonUtil.py
requests==2.22.0
tqdm==4.15.0
